      .button {
				width: 300px;
				height: 24px;
				display: inline-block;
				outline: none;
				cursor: pointer;
				text-align: center;
				text-decoration: none;
				font-size:20px;
				font-style: normal;
				padding: .5em 2em .55em;
				text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
				-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
				-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
				box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
			}
			.button:hover {
				text-decoration: none;
			}
			.button:active {
				position: relative;
				top: 1px;
			}
			.orange {
				color: #fef4e9;
				border: solid 1px #da7c0c;
				background: #f78d1d;
				background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
				background: -moz-linear-gradient(top, #faa51a, #f47a20);
				filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
			}
			.orange:hover {
				background: #a52a2a;
				background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
				background: -moz-linear-gradient(top, #f88e11, #f06015);
				filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
			}
			.orange:active {
				color: #fcd3a5;
				background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
				background: -moz-linear-gradient(top, #f47a20, #faa51a);
				filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
			}
			h1 {
				font-size: 40px;
			}
			legend {
				font-size: 20px;
				font-style: normal;
			}
			label {
				font-family: "楷体";
				font-size: 20px;
			}
			
      .search1,
     .button1 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .search1 {  width: 900px; text-align:left; }
      .search1{
      	 font-size: 18px;
        min-height: 30px;
        margin: 0;
        padding: 7px 8px;
        outline: none;
        color: #333;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right center;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: all 0.15s ease-in;
        -webkit-transition: all 0.15s ease-in 0;
        vertical-align: middle;
      }
      .button1 {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 8px 15px;
        font-size: 13px;
        font-weight: bold;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,0.9);
        white-space: nowrap;
        background-color: #eaeaea;
        background-image: -moz-linear-gradient(#fafafa, #eaeaea);
        background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
        background-image: linear-gradient(#fafafa, #eaeaea);
        background-repeat: repeat-x;
        border-radius: 3px;
        border: 1px solid #ddd;
        border-bottom-color: #c5c5c5;
        box-shadow: 0 1px 3px rgba(0,0,0,.05);
        vertical-align: middle;
        cursor: pointer;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-appearance: none;
      }
      .button1:hover,
      .button1:active {
        background-position: 0 -15px;
        border-color: #ccc #ccc #b5b5b5;
      }
      .button1:active {
        background-color: #dadada;
        border-color: #b5b5b5;
        background-image: none;
        box-shadow: inset 0 3px 5px rgba(0,0,0,.15);
      }
      .button1:focus,
      .search1:focus,
      .search1:focus {
        outline: none;
        border-color: #51a7e8;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(81,167,232,.5);
      }

      .button1 {
        padding: 10px;
        width: 90px;
      }
      
      small {
				font: 15px Verdana, Arial, Helvetica, sans-serif;
				display: block;
				margin-bottom: 15px;
			}
			#slideshow {
				position: relative;
				height: 400px;
				width: 900px;
				margin: 0 auto 15px;
			}
			#slideshow div {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 8;
				opacity: 0.0;
				height: 400px;
				overflow: hidden;
				background-color: #FFF;
			}
			#slideshow div.current {
				z-index: 10;
			}
			#slideshow div.prev {
				z-index: 9;
			}
			#slideshow div img {
				width: 900px ;
				height: 400px;
				display: block;
				border: 0;
				margin-bottom: 10px;
			}
			#slideshow div span {
				font-family: "仿宋";
				font-size: 30px;
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				height: 50px;
				line-height: 50px;
				background: #CFEBEE;
				color: #000;
				width: 100%;
			}
			#slideshow div.current span {
				display: block;
			}